//- extends layout.pug //- having issues with the conditional in layout.pug
include utils.pug

div
    h1.slogan Pick Your Hobbies!
    div
        each hobby in hobbies
            div
                hobby
