extends layout
//- include utils.pug

append head
    //- makes Hobbies nav button bold when it is the active page
    script(src="/javascripts/hobbies.js" defer)

block content
    div(id='body-div')
        h1.hobbies-header.header Pick Your Hobbies!
        div.hobbies
            each hobby in hobbies
                a(href=`/hobbies/${hobby.id}` class="links hobby_links")
                    div.hobbies__content
                        .top_half
                            img(src=hobby.img, alt="illustration of the hobby" class='images hobby_image')
                            p.hobby_title= hobby.title
                        .bottom_half
                            p.hobby_description= hobby.description
