doctype html
html
  head
      block head
        title= title
        link(rel='stylesheet' href='/stylesheets/reset.css')
        link(rel='stylesheet' href='/stylesheets/navbar.css')
        link(rel='stylesheet' href='/stylesheets/footer.css')
        link(rel='stylesheet' href='/stylesheets/hobbies.css')
        link(rel='stylesheet' href='/stylesheets/register-and-login.css')
        link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:light,medium,semi-bold,bold,extra-bold,black")
        link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Oleo+Script+Swash+Caps")
        script(src="/javascripts/navbar.js" defer)


  header
    div(class="navbar")
      nav(class="navbar__nav")
        a(href="/")
          p(id="hobby-hub-logo") Hobby Hub
        ul(class="" id="navigation-links")
          li: a(href="/" class="navbar__nav-link .active-nav-link" id='homeBtn') Home
          //- My Wheelhouse redirects to /login when user not logged in
          if req.session.auth
            li: a(href=`/users/${req.session.auth.userId}/wheelhouse` class="navbar__nav-link" id='wheelhouseBtn') My Wheelhouse
          else
            li: a(href="/users/login" class="navbar__nav-link") My Wheelhouse
          li: a(href="/hobbies" class="navbar__nav-link" id='hobbiesBtn') Hobbies
        div(id="user-buttons")
          //- if the user is logged in
          if req.session.auth
            p(id='welcome') Welcome, #{user.username}!
            form(action="/users/logout" method="get")
              button(class="navbar__link link-button" id="logout-button") Logout
          else
            a(href="/users/login" class="navbar__link" id="login-link") Login
              //- button(class="navbar__link" id="login-link") Login
            a(href="/users/register" class="navbar__link" id="signup-link") Sign Up
              //- button(class="navbar__button" id="signup-button") Sign Up
            a(class="navbar__link link-button" id="demo-user-button") Demo User
  body
    div(class="page-container")
      block content
      block footer
        div(class='footer-container')
          footer(class="footer")
            div(class='footer-div' id='p')
              p The amazing developers who made this site possible:
              //- img(src='/footer-images/hobbyHubLogo.png' style='width:350px; height:100px;')
            div(class='footer-div' id='irena')
              p Irina Amzashvili
              div(class='footer__img')
                a(href="https://www.linkedin.com/in/irina-amzashvili-683136211/" class="navbar__link footer__link" id="irina-linkedIn")
                  img(src='/footer-images/linkedinIcon.png' alt='Irena LinkedIn' style='width:25px; height:25px;')
                a(href="https://github.com/IrinaAmzashvili" class="navbar__link footer__link" id="irina-github")
                  img(src='/footer-images/githubIcon.png' alt='Irena GitHub' style='width:25px; height:25px;')
            div(class='footer-div' id='dechon')
              p Dechon Ryan
              div(class='footer__img')
                a(href="https://www.linkedin.com/in/dechon-r-1230097b" class="navbar__link footer__link" id="dechon-linkedIn")
                  img(src='/footer-images/linkedinIcon.png' alt='Dechon LinkedIn' style='width:25px; height:25px;')
                a(href="https://github.com/dech0n" class="navbar__link footer__link" id="dechon-github")
                  img(src='/footer-images/githubIcon.png' alt='Dechon GitHub' style='width:25px; height:25px;')
            div(class='footer-div' id='jordyn')
              p Jordyn Sechrist
              div(class='footer__img')
                a(href="https://www.linkedin.com/in/jordyn-sechrist-87710b207/" class="navbar__link footer__link" id="jordyn-linkedIn")
                  img(src='/footer-images/linkedinIcon.png' alt='Jordyn LinkedIn' style='width:25px; height:25px;')
                a(href="https://github.com/J0914" class="navbar__link footer__link" id="jordyn-github")
                  img(src='/footer-images/githubIcon.png' alt='Jordyn GitHub' style='width:25px; height:25px;')
