//- extends layout.pug
include utils.pug

if errors
    each error in errors
        .errorDiv
            ul
                li= error


.formDiv
    form(action="/users/login" method="post")
    input(type="hidden", name="_csrf", value=csrfToken)
        .fieldDiv
            +field('Username', 'username', username)
        .fieldDiv
            +field('Password', 'password', password, 'password')
    button(type='submit') Submit
