extends layout.pug
include utils.pug

block content
    h1.login_header.header= title
    +validationErrorSummary(errors)

    .formDiv
        form(action="/users/login" method="post" class="login_form")
            input(type="hidden", name="_csrf", value=csrfToken)
            +field('Username', 'username', username)
            +field('Password', 'password', null, 'password')
            button(type='submit' class="form__button form__submit_button") Submit
