extends layout.pug

append head
  //- add page specific styles by appending to the head
  link(rel="stylesheet" href="/stylesheets/wheelhouse.css")
  //- add page specific js
  script(src="/javascripts/wheelhouses.js" defer)

block content
  h1 My Wheelhouse
  div(class='wheelhouses')
    div(class='wheelhouse')
      button(id='all' class='wheelhouseLink') All
    each wheelhouse in wheelhouses
      div(class='wheelhouse')
        button(id=`${wheelhouse.status}` class='wheelhouseLink') #{wheelhouse.status}
  div(class='hobbies')
        