/* .experience-title::before {
    content: url('../hobby-images/anon-user-image.png');
} */

h1 {
    flex-grow: 2;
    /* text-align: left; */
    font-weight: 600;
    margin-bottom: 30px;
}

.hobby-h2 {
    margin-top: 60px;
}

.hobby-h1 {
    margin-bottom: 10px;
}

#hobby-page {
    margin: auto;
    width: 530px;
    padding: 10px;
}

#experiences-container {
    /* border: 1px solid black; */
    text-align: center;
}

.experiences-container__experience {
    display: flex;
    flex-direction: column;
    margin: 30px 0;
    border-bottom: 1px solid #b8b8b8;
    padding-bottom: 30px;
}

.experience-user {
    text-align: left;
    margin: 0;
    font-weight: 600;
}

.experience-message {
    text-align: left;
    margin: 0;
    padding: 15px 0;
}

.experience-header {
    display: flex;
    border-bottom: 1px solid grey;
    justify-content: flex-start;
}

.hobby-header-container {
    display: flex;
    /* flex-direction: column; */
    justify-content: space-between;
    align-items: center;
    /* padding: 30px 30px 30px 0; */
}

#select-status {
    height: 30px;
    margin-right: 3px;
}

.status-dropdown {
    flex-grow: 1;
    display: flex;
    padding-bottom: 50px;
    padding-left: 30px;
}

.title-description {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
}

.checked::before {
    content: '✓';
}

.message-textarea {
    border-radius: 5px;
    width: 100%;
    resize: none;
    height: 80px;
}

#experience-form-container {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

.select-div {
    margin: 5px 0;
}

#select-status {
    height: 30px;
}

.editable-area {
    border: 1px solid #46574D;
    border-radius: 5px;
    padding: 15px 10px;
    margin-bottom: 2px;
}

#resources-form-container {
    display: flex;
    flex-direction: column;
    margin-top: 15px;
    margin-bottom: 15px;

}

#resources-container {
    display: flex;
    flex-direction: column;
    margin-top: 15px;
    margin-bottom: 15px;
    /* border: 1px solid #46574D; */
    border-radius: 5px;
    overflow-x: hidden;
    overflow-y: auto;
    height: 130px
}

.resource-link {
    /* text-decoration: underline; */
    color:darkcyan;
}

.resource-input {
    border-radius: 5px;
    width: 100%;
    resize: none;
    height: 25px;
    margin: auto;
    border-left: 1px solid #46574D;
    border-right: 1px solid #46574D;
}

#resource-title-input, #resource-link-input {
    border-top: 1px solid #46574D;
    border-radius: 5px;
}

.resource_title {
    padding-bottom: 5px;
}

/* .link-input-label {
    padding-bottom: 5px;
} */

.resource-label {
    border-bottom: 1px solid #46574D;
    width: 100%;
    font-weight: bold;
}

ol {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid #46574D;
}

.delete-from-wheelhouse {
    background-color: #ed5e68;
    border: none;
}
