/* add scroll to description */
/* media query when width is less than 1305 px (description gets messed up) */

/* i added this to try to fix the position issues when the screen is less than 1400 px */
html {
    width: 100%;
}

#body-div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: auto;
    margin-top: 30px;
}
.hobbies {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    row-gap: 10px;
    column-gap: 10px;
    justify-self: center;
}

.hobby_title, .hobby_description, .hobby_image {
    align-self: center;
}

.hobby_description {
    text-align: center;
}

.hobbies__content {
    /* display: flex;
    flex-direction: column; */
    border-radius: 2%;
    box-sizing: border-box;
    margin: 15px 15px;
    height: 265px;
    min-width: 399px;
    max-width: 415px;
    /* align-self: center; */
    box-shadow: 0px 2px 4px rgba(0, 0, 0, .3);
    transition: 500ms box-shadow;
}

.hobbies__content:hover {
    transition-delay: 10ms;
    /*When a person moves their pointer over a picture card, then the card gets a shadow*/
    box-shadow: 2px 5px 10px 5px rgba(70,87,77,0.3);
    /* box-shadow: 0px 5px 7px 5px rgba(252, 126, 146, 0.5); */
    /* box-shadow: 0px 5px 7px 5px rgba(149, 87, 80, 0.5); */
}

/* keeps scrolling functionality but hides the scrollbar */
.bottom_half::-webkit-scrollbar {
    display: none;
  }

.top_half, .bottom_half {
    display: flex;
    flex-direction: column;
}

.top_half {
    background-color: rgba(173,213,189,0.4);
    border-top-left-radius: 2%;
    border-top-right-radius: 2%;
    /* padding-bottom: 3px; */
}

.bottom_half {
    padding-top: 10px;
    /* overflow: scroll; */
    overflow-x: hidden;
    overflow-y: auto;
    display: flex;
    align-items: flex-end;
}

.hobby_image {
    height: 101px;
    width: 101px;
    border: solid 0.5px rgba(236, 231, 226, .1);
    border-radius: 100%;
    box-sizing: border-box;
    margin: 15px 10px;
}

.hobby_title {
    margin-top: 0px;
    margin-bottom: 15px;
    font-weight: 600;
}

.hobby_description {
    padding: 0px 10px;
    margin-top: 0px;
    text-align: center;
}

a.hobbies_links:link {
    text-decoration: none;
}

.hobbies-header {
    text-align: center;
    padding-top: 15px;
}

.hobby_links {
    display: flex;
    justify-content:center;
    align-items: center;
}

@media (max-width: 1380px) {
    .hobbies {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 925px) {
    .hobbies {
        grid-template-columns: 1fr;
    }
}
