.experience-title::before {
    /* content: url('../hobby-images/anon-user-image.png'); */
}

h1 {
    flex-grow: 2;
    /* text-align: left; */
}

#hobby-page {
    margin: auto;
    width: 30%;
    padding: 10px;
}

#experiences-container {
    /* border: 1px solid black; */
    text-align: center;
}

.experiences-container__experience {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr, 1fr, 3fr;
    margin: 30px 30px;
}

.experience-user {
    grid-column: 1;
    grid-row: 1/ span 1;
    text-align: left;
    padding-bottom: 10px;
    margin: 0;
}

.experience-title {
    grid-column: 1;
    grid-row: 2/ span 1;
    text-align: center;
    padding-bottom: 10px;
    margin: 0;
}

.experience-message {
    grid-column: 1;
    grid-row: 3/ span 1;
    text-align: left;
    padding-bottom: 30px;
    margin: 0;
    border-bottom: 1px solid #b8b8b8;
}

.experience-header {
    display: flex;
    border-bottom: 1px solid grey;
    justify-content: flex-start;
}

.hobby-header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* padding: 30px 0; */
}

.status-dropdown {
    flex-grow: 1;
    display: flex;
    padding-bottom: 50px;
    padding-left: 30px;
}

#title-description {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
}

.status-button {
    background-color: rgb(58,106,111);
    color: white;
}

.checked::before {
    content: '✓';
}

.message-textarea {
    border-radius: 5px;
    width: 100%;
    resize: none;
}
