/* add scroll to description */
/* media query when width is less than 1305 px (description gets messed up) */
#body-div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: auto;
}
.hobbies {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    row-gap: 10px;
    column-gap: 10px;
    max-width: 75%;;
}

.hobby_title, .hobby_description, .hobby_image {
    align-self: center;
}

.hobbies__content {
    /* figure out how to center these elements within their individual grid squares */
    display: flex;
    /* flex-wrap: wrap; */
    flex-direction: column;
    /* border: inset 2px rgb(43, 43, 43); */
    border-radius: 2%;
    box-sizing: border-box;
    margin: 15px 15px;
    height: 256px;
    min-width: 399px;
    max-width: 415px;
    align-self: center;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, .3);
}

.hobbies__content:hover {
    background-color: rgba(173,213,189,0.2);
    /*When a person moves their pointer over a picture card, then the card gets a shadow of rgba(0, 0, 0, .3) with a 0px horizontal offset, 2px vertical offset, and a blur radius of 4px.*/
    box-shadow: 0px 2px 4px rgba(173,213,189,0.8);
}

.hobby_image {
    height: 101px;
    width: 101px;
    border: solid 0.5px rgba(236, 231, 226, .1);
    border-radius: 100%;
    box-sizing: border-box;
    margin: 15px 10px;
}

.hobby_title {
    margin-top: 0px;
    margin-bottom: 15px;
    font-weight: 700;
}

.hobby_description {
    padding: 0px 10px;
    margin-top: 0px;
    text-align: center;
    overflow: scroll;
    overflow-x: hidden;
    overflow-y: hidden;
}

a.hobbies_links:link {
    text-decoration: none;
}

.hobbies-header {
    text-align: center;
    padding-top: 15px;
}

.hobby_links {
    display: flex;
    justify-content:center;
    align-items: center;

}
