h1 {
    color: #555555;
    flex-grow: 1;
    font-size: 100px;
    width: 700px;
    margin: 50px;
    padding-left: 200px;
    overflow-wrap: break-word;
}

#splash-image {
    height: 650px;
    width: 900px;
    background-image: url('../hobby-images/largeHobbiesBackground.jpg');
    background-position: center;
    margin: 50px;
    background-repeat: no-repeat;
    flex-grow: 1.5;
    background-size: cover;
}

#splash-page-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
