.navbar__nav {
    display: grid;
    grid-template-columns: 1fr, 3fr, 1fr;
    grid-template-rows: auto;
    padding: 20px;
    justify-content: space-between;
    background-color: rgba(173,213,189,255);
}

#hobby-hub-logo {
    grid-column: 1/ span 1;
    grid-row: 1/ span 1;
}

#navigation-links {
    grid-column: 2/ span 1;
    grid-row: 1/ span 1;
    display: flex;
    list-style-type: none;
    color: white;
}

#user-buttons {
    grid-column: 3/ span 1;
    grid-row: 1/ span 1;
}

.navbar__nav {
    font-size: 30px;
}

.navbar__button {
    margin: 5px;
}

.navbar__nav .active {
    background-color: rgb(113,147,152);
    text-decoration: underline;
}