body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  font-family: 'montserrat', serif;
}

h1, h2, h3, h4, h5, h6, a, ol, li, ul, div, span,
body, header, nav {
  font-size: 1rem;
  color: inherit;
  background-color: transparent;
  margin: 0;
  padding: 0;
  outline: 0;
  font-weight: 300;
}

h1 {
  font-size: 2rem;
  font-weight: 700;
  margin-top: 30px;
  margin-bottom: 40px;
  display: flex;
  justify-content: center;
}

.hobby-h1 {
  border-bottom: 2px solid #46574D;
  width: 100%;
  display: flex;
  justify-content: flex-start;
}

h2 {
  font-size: 1.5rem;
  font-weight: 600;
  margin-top: 30px;
  margin-bottom: 40px;
  border-bottom: 2px solid #46574D;
  display: flex;
  justify-content: center;
}

button {
  background-color: #46574D;
  color: white;
  font-weight: 800;
  padding: 5px;
  margin: 2px 0;
  border-radius: 5px;
  border: none;
}

.page-container {
  position: relative;
  min-height: 100vh;
}
