.wheelhouses {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
}

.wheelhouses {
    background-color: rgb(155, 235, 179);
    height: 30px;
    align-items: center;
}

.wheelhouseLink {
    background-color: rgb(155,235,179);
    text-decoration: none;
    font-size: 20px;
}

.wheelhouseLink, .active {
    background-color: rgb(219, 155, 235);
}