

.wheelhouses {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    background-color: rgb(176,211,189);
    align-items: flex-end;
}

.wheelhouse {
    display: flex;
    height: 100%;
    width: 50%;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
}

.wheelhouseLink {
    text-align: center;
    background-color: rgb(176,211,189);
    text-decoration: none;
    border: 0;
    padding: 10px 0 5px 0;
    font-size: 20px;
    font-weight: 600;
    font-family: inherit;
    width: 75%;
    height: 100%;
    margin: 0;
    bottom: 0;
}

.active {
    color: rgba(173,213,189,1);
    background-color: white;
    color: #46574D;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border: 2px solid rgba(70, 87, 77, .3);
    border-bottom: 0;
    color: #46574D;
}
